<div class="card">
  <div class="card-body">
    <div class="row mb-3 align-items-center">
      <div class="col">
        <div class="text-sm">Class size</div>
        <h3 class="mt-2 f-w-600">22</h3>
      </div>
      <form [formGroup]="classSemesterSelectionFrom" (ngSubmit)="classSemesterSelectionFormSubmission()">
        <div class="col-auto">
          <select formControlName="class" class="form-select p-r-35" title="Select" [(ngModel)]="classToFetch">
            <option default>Select Class</option>
            <option #class *ngFor="let class of (classes$ | async)" [value]="class.class_id" > {{class.className}} </option>
          </select>
        </div>
        <div class="col-auto">
          <select formControlName="semester" class="form-select p-r-35" title="Select" [(ngModel)]="semesterToFetch">
            <option default>Select Semester</option>
            <option *ngFor="let semester of (semesters$ | async)" [value]="semester._id" > {{semester.name}} </option>
          </select>
        </div>
        <div class="col-auto">
          <button [disabled]="!(classSemesterSelectionFrom.valid)" class="btn btn-secondary" type="submit"> GET GRADES </button>
        </div>
      </form>
    </div>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [responsive]="chartOptions.responsive"
      [xaxis]="chartOptions.xaxis"
      [colors]="chartOptions.colors"
      [tooltip]="chartOptions.tooltip"
    ></apx-chart>
  </div>
</div>
